@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #FFD07B;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efae00;
    height: 8vh;
    border: 24px solid #efae00;
    border-radius: 0 0 50px 50px;
    padding: 0;
}

.logo{
    margin-right: auto;
}

.logo img{
    width: 100px;
    height: auto;
    padding-left: 20vh;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    padding-right: 20vh;
}

a{
    text-decoration: none;
    color: rgb(18, 14, 0);
    font-weight: bold;
}

.container{
    display: flex;
    padding: 0 20vh;
    gap: 20px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.container img{
    width: auto;
    height: auto;
    border-radius: 24px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.container img:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
    -webkit-text-stroke: 3px black;
    text-transform: uppercase;
    text-shadow: #efae00 2px 2px 2px;
}

.content p{
    font-size: 16px;
    color: #efae00;
    margin-bottom: 8px;
    -webkit-text-stroke: 0.7px #efae00;
}

button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       #523900 0%,
       #523936 8%,
       #523936 92%,
       #52391b 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #efae00;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }

   .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
   }
   
   .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    will-change: transform;
    transform: scale(1);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   cursor: pointer;
   }
   
   .box:hover{
    transform: scale(1.1);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .box:hover .front{
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .box:hover .shadow{
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .box:active .front{
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   .box:active .shadow{
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   .box:focus:not(:focus-visible) {
    outline: none;
   }
   
   .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
   }

   .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
    font-style: italic;
   }

   .box-container h2{
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: 12px;
   }

   .all-container{
    display: flex;
    flex-direction: column;
    background-color: #efae00;
    border-radius: 50px;
   }

   .image-text-container {
    position: relative;
    width: 100%;
    margin:0;
    padding:0;
  }
  
  .image {
    display: flex;
    width: 100%;
    height: auto;
    margin:0;
    padding:0;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #765600;
  }
  
  .image-text-container:hover .overlay {
    opacity: 0.7;
  }
  
  .image-text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding:0;
    margin:0;
  }

.box-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    margin:12px;
    color: black;
}

a:hover{
    color: #5f5c4f;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 128px 42px;
    padding:20vh;
}

.quote{
    font-size: 32px;
    font-style: italic;
    color: #296EB4;
    font-weight: lighter;
}

.author{
    font-size: 16px;
    color: #296EB4;
    font-weight: bold;
    margin-left: 39vh;
}

.sign-up-form{
    display: flex;
    background-color: #B1740F;
    margin: 42px;
    border-radius: 12px;
    padding:42px;
    justify-content: space-between;
    align-items: center;
}

.form-text{
    padding-left: 42px;
    text-align: left;
    color: white;
}

.form-button{
    padding-right: 42px;
}

.form-butt{
    background-color: #efae00;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    padding:12px;
    border: none;
    cursor: pointer;
}

