@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 8vh;
    margin:0;
    padding: 0;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}