@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efae00;
    height: 8vh;
    border: 24px solid #efae00;
    border-radius: 0 0 50px 50px;
    padding: 0;
}

.logo{
    margin-right: auto;
}

.logo img{
    width: 100px;
    height: auto;
    padding-left: 20vh;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    padding-right: 20vh;
}

a{
    text-decoration: none;
    color: rgb(18, 14, 0);
    font-weight: bold;
}